<!DOCTYPE html>
<html>

<% include partials/fileheader %>
<style>
p {padding: 25px 250px} 
</style>
  <h1>About Me</h1>

    <div>
    <p style="float: left;"><img src="images/Me.jpg" width="500px" border="1px"></p>
    <p style="padding-top: 100px; float: left;"> <p align="left">Michael Tong was born in Dallas, Texas. Text Text Text Text Text Text Text Text Text Text Text Text 
    	Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text 
    	Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text 

    </p></p>

<% include partials/footer %>


</body>
</html>
