<!DOCTYPE html>
<html>

<% include partials/fileheader %>
<style>
p {padding: 25px 250px} 
</style>
  <h1>This is my about me page</h1>
    <h1>about me </h1>
    <p> about me about me </p> 

    <div>
    <p style="float: left;"><img src="http://placekitten.com/g/200/200" height="400px" width="400px" border="1px"></p>
    <p align="left">Michael Tong was born in Dallas, Texas in 1996. Text Text Text Text Text Text Text Text Text Text Text Text 
    	Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text 
    	Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text 

    </p>

<% include partials/footer %>


</body>
</html>
