<!DOCTYPE html>
<html>

<% include partials/fileheader %>


  <h1>Contact me page</h1>
    <h1>contact me at Michael_Tong@Outlook.com</h1>
    <p> contact me contact me </p> 
    <p> contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me contact me  </p> 

<% include partials/footer %>


</body>
</html>
