<!DOCTYPE html>
<html>
<title>Main Page</title>

<% include partials/fileheader %>

  <h1>Home</h1>


<img src="images/Home.jpg" width="600px" border="1px">



<% include partials/footer %>

</body>
</html>
