<!DOCTYPE html>
<html>

<% include partials/fileheader %>
<style>
p {padding: 25px 250px} 
</style>
  <h1>My Resume</h1>

    <div>
<embed src="/pdfs/Resume.pdf" width="800px" height="1100px" />
</div>
    </p></p>

<% include partials/footer %>


</body>
</html>
